<div class="container bg-secondary-subtle px-5 py-3 rounded-4 shadow">
<%= render @book %>
  <%= link_to "Edit", edit_book_path(@book), class:"btn btn-secondary my-3"%> 
  <%= link_to "Back", books_path, class:"btn btn-secondary my-3"%>

  <%= button_to "Delete book", @book, method: :delete, class:"btn btn-danger mb-3" %>
</div>
